@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.nav-item{
    margin-inline: .4rem;
}

.card a{
    border:1px solid black;
    background-color: #e7ded9!important;
    box-shadow: 2px 4px 0px black;
  color:black;
  text-decoration: none;
  padding:8px;
  border-radius: 12px;
  margin-bottom: 12px;
}
#app{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto minmax(100vh,1fr) auto;
        background-color: #e7ded9;
        background-image: url('https://i.ibb.co/VgPwcJh/1000-F-385884179-8m-A6r-X2pc4dmho-NF7zg-Pq-I4ctc-Vk2um0.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
#app >*{
        grid-column: 1/-1;
    }
